six==1.15.0
matplotlib==3.3.0
PyAudio==0.2.11
Django==3.0.14
scipy==1.5.1
blinker==1.4
yappi==1.2.5
opensimplex==0.3
firebase_admin==4.3.0
blinkstick==1.1.8
django_getenv==1.3.2
sympy==1.6.2
Pillow==7.2.0
pyqtgraph==0.11.0
